@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97%;
    --foreground: 224 71.4% 4.1%;
    --card: 208 100% 97%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 208 100% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 145 58% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 27.9% 90%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 90%;
    --muted-foreground: 225.2 30.2% 44.9%;
    --accent: 120 60% 34%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 20.2% 85.1%;
    --input: 215 20.2% 85.1%;
    --ring: 145 58% 45%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 145 58% 55%;
    --primary-foreground: 145 100% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 120 60% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 145 58% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
